# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/
phaser/node_modules/
pixi/node_modules/
app/node_modules/
package-lock.json
phaser/package-lock.json
pixi/package-lock.json
app/package-lock.json

# Build
dist/
phaser/dist/
pixi/dist/
app/dist/
assets-save/
/npm-debug.log
